#favTable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.fav {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.favRow:nth-child(even) {
  background-color: #dddddd;
}
